.waitlistsvg path{
    stroke: var(--secondary-color-4);
    stroke-width: 3px;
    transform: translateY(-5px);
}

.personicon path{
    stroke-width: 6px;
    fill: var(--primary-color) !important;
}
