.cardwrapper {
  border: 2px solid var(--primary-color-2);
  background-color: var(--primary-color);
  flex: 0 0 calc(32% - 0.3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;

  background: radial-gradient(circle, rgb(75, 75, 75) 0%, rgba(0,0,0,1) 80%);
  background-size: 100% 1000%;
  background-position: 0% 0%;
  transition: background-position 600ms ease;
}

.cardwrapper[data-clickable=true] {
  cursor: pointer;
}

.cardwrapper[data-clickable=true]:hover{
  background-position: 0% 12%;
}

.cardcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 4rem;
  padding: 16px;
  gap: 1rem;
}

.cardwrapper:hover .linkicon{
  opacity: 100%;
}

.linkicon{
  /* border: 3px solid white; */
  position: absolute;
  top: -3px;
  right: -3px;
  display: flex;
  font-size: 1.2rem;
  padding: 6px;
  padding-left: 9px;
  padding-bottom: 9px;

  border-radius: 0px 12px 0px 12px;
  background-color: var(--primary-color-2);
  border-top: 3px solid var(--primary-color-2);
  border-right: 3px solid var(--primary-color-2);
  color: var(--secondary-color);

  opacity: 0%;
  transition: opacity 600ms ease
}

.cardcontent[data-align="left"] * {
  text-align: left;
}

.cardcontent h1 {
  color: var(--secondary-color);
  font-size: 20px;
}

.cardcontent p {
  font-size: 16px;
  color: var(--secondary-color-4);
  line-height: 1.5rem;
  font-weight: 500;
}

.cardwrapper:after {
  content: "";
  height: 50%;
  width: 3px;
  position: absolute;
  left: -3px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent,
      var(--standout-color),
      transparent);
  opacity: 0;
}

.cardwrapper:after {
  top: 65%;
  opacity: 0;
}

.cardwrapper:hover:after {
  top: 25%;
  opacity: 1;
}

.iconwrapper{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 50px; */
  padding-top: 0.5rem;
}

.iconwrapper[data-paddingtrue=true]{
  padding-left: 10px;
}

.iconwrapper svg path{
  fill: none;
  stroke: var(--primary-color-3);
  stroke-width: 10px;
}

.bannerwrapper{
  /* border: 1px solid red; */
  width: 100%;
}

.bannerwrapper svg path{
  stroke: var(--secondary-color-4);
  stroke-width: 3px;
  fill: none;
}

.bannerwrapper[data-mobile-only=true] {
  display: none
}

@media only screen and (max-width: 1024px) {
  .cardwrapper{
    flex: 0 0 calc(50% - 1rem);
  }

  .cardcontent{
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .bannerwrapper[data-mobile-only=true] {
    display: unset;
  }
}
@media only screen and (max-width: 640px) {
  .cardwrapper{
    flex: 0 0 100%;
  }
}