.cardwrapper {
    border: 3px solid var(--primary-color-4);
    background-color: var(--primary-color-2);
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 12px;
    position: relative;
    box-sizing: border-box;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(var(--primary-color-4) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;

    border-radius: 6px;
    padding: 4rem;
    gap: 1rem;
}

.cardcontent h1 {
    color: var(--secondary-color);
    font-size: 2.6rem;
}

.cardcontent p {
    color: var(--secondary-color-2);
    line-height: 1.5rem;
    font-weight: 400;
}

.cardwrapper:after {  
    content: "";
    height: 70px;
    width: 3px;  
    position: absolute;  
    left: -3px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
      transparent,
      var(--standout-color),
      transparent
    );
    opacity: 0;
  }
  
  .cardwrapper:after {  
    top: 65%;
    opacity: 0;
  }
  
  .cardwrapper:hover:after {
    top: 25%;
    opacity: 1;
  }