.navbarwrapper{
    /* border: 1px solid blue; */
    width: 100svw;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: absolute;
    z-index: 2;
    color: var(--secondary-color);
    top:0;
    /* position: relative; */
}

.companyname{
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    /* position: relative; */
    /* position: absolute; */
    /* margin-right: 30px; */
}

.navcompanyname{
    display: none;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.navbar ul li a{
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.burger{
    display: none;
    /* position: relative; */
    /* border: 1px solid blue; */
}

.linkdesc{
    display: none;
}

@media only screen and (max-width: 1280px) {
    /* .navbarwrapper{
        width: 100vw;
    } */

    .navbar ul li a{
        font-size: 22px;
    }
}

/* Laptop L */
@media only screen and (max-width: 1024px) {
    .navbarwrapper{
        padding: 20px 1rem;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) {
    .navbar{
        position: absolute;
        transform: translateY(-100vh);
        transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        /* transition: transform 1s linear; */
        display: flex;
        align-items: flex-start;
        padding: 20px 1rem;
        justify-content: flex-start;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        z-index: 2;
    }

    .navbar.navactive{
        transform: translateY(0);
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        font-size: 18px;
    }

    .navbar .navcompanyname a{
        display: flex;
        font-weight: 700;
        font-size: 32px;
        cursor: pointer;
        position: relative;
    }

    .linkdesc{
        display: flex;
        font-size: 16px;
        color: var(--primary-color-4);
    }

    .navbar .navcompanyname {
        display: flex;
        position: relative;
    }

    .navcompanyname:after{
        content: "";
        display: flex;
        position: absolute;
        bottom: -1rem;
        left: -20px;
        background-color: var(--primary-color);
        width: 100vw;
        height: 1px;
    }

    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        aspect-ratio: 1 / 1;
        font-size: 32px;
        z-index: 5;
        cursor: pointer;
        /* font-weight: 800; */
    }

    .burger.burgeractive{
        color: var(--primary-color);
        position: static;
    }

}