.pagewrapper {
    /* border: 1px solid red; */
    scroll-behavior: noscroll;
    /* width: 80vw; */
    max-width: 1280px;
    /* height: 100vh; */
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* overflow: hidden; */
    overflow: auto;
    overflow: hidden;
    /* gap: 1rem; */
    flex-wrap: wrap;
}
/* 
@media only screen and (max-width: 1024px) {
    .cardcontent{
        flex-wrap: wrap;
    }
} */