.fourthpagewrapper {
    /* border: 1px solid red; */

    width: 100%;
    max-height: 2160px;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding-top: 5rem;
    padding-bottom: 20%;
}

.fourthpagecontainer {
    /* border: 1px solid blue; */

    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardswrapper{
    border: 1px dashed yellow;

    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 120px;
    padding-left: 24px;
    z-index: 20;
    
}

.card{
    transform: translateY(150px);
    opacity: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cylinderwrapper{
    /* border: 1px dashed green; */
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.cylindercontainer{
    /* border: 1px solid violet; */

    aspect-ratio: 1 / 1;
    height: 30%;
    max-height: 400px;
    max-width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 0;
}

.invisiblecard{
    opacity: 0%;

    /* -webkit-user-select: none;  
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

.bluepath{
    stroke: var(--standout-color) !important;
    stroke-width: 5px !important;
    stroke-linecap: round;
}

.motionpath{
    stroke-width: 8px !important;
}

@media only screen and (max-width: 1280px) {
    .cardswrapper{
        padding-left: 80px;
    }

}

@media only screen and (max-width: 768px) {
    .cylinderwrapper{
        display: none;
    }

    .cardswrapper{
        width: 100%;
        padding: 0px;
        gap: 16px;
    }

    .fourthpagecontainer{
        padding: 0px 16px;
    }

    .invisiblecard{
        display: none
    }

    .card{
        transform: none;
        opacity: 100;
    }
}