.navbarwrapper{
    /* border: 1px solid blue; */
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.companyname{
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.navbar ul li a{
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.burger{
    display: none;
    border: 1px solid blue;
}
@media only screen and (max-width: 1280px) {
    .navbarwrapper{
        width: 100vw;
    }

    .navbar ul li a{
        font-size: 22px;
    }
}
@media only screen and (max-width: 900px) {
    .navbar ul li a{
        font-size: 18px;
    }

    .navbar ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
}

@media only screen and (max-width: 768px) {
    .navbar{
        display: none;
    }

    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        aspect-ratio: 1 / 1;
        font-size: 24px;
    }
}