.svgmain *{
    stroke-width: 5px;
    /* stroke: #323232; */
    /* stroke: var(--secondary-color); */
    /* stroke: var(--secondary-color-4); */
    stroke: #323232;
    /* stroke: #323232; */

    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw 3s forwards;
    fill: none;
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.laptopborder{
    fill: var(--primary-color)
    /* fill: #1A1A1A; */
    /* fill: var(--primary-color) */
    /* fill: #141414 */
}

/* .bottombar{

} */

.linechart{
    stroke: var(--standout-color);
    /* stroke: #267E99 */
}

/* .piechartlarge{

} */

.piechartsmall{
    stroke: var(--standout-color);
    /* stroke: #267E99 */
}

/* .topbar{

} */

/* .topdot{

} */