.svgmain *{
    stroke-width: 5px;
    stroke: #323232;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw 3s forwards;
    fill: none;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.laptopborder{
    fill: var(--primary-color);
}

.linechart{
    stroke: var(--standout-color);
}

.piechartsmall{
    stroke: var(--standout-color);
}

@media only screen and (max-width: 768px) {
  .laptopborder{
    display: none;
  }
}