.svgmain *{
    stroke-width: 5px;
    stroke: #323232;
}

.laptopborder{
    fill: var(--primary-color)
}

/* .bottombar{

} */

.linechart{
    stroke: var(--standout-color);
}

/* .piechartlarge{

} */

.piechartsmall{
    stroke: var(--standout-color);
}

/* .topbar{

} */

/* .topdot{

} */