.svgcontainer{
    border: 1px solid white;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 6px;
    border: 2px solid #323232;
    border-radius: 22px;
    align-self: flex-start;
    background: var(--primary-color);
}

.svgcontainer svg *{
    fill: none;
    stroke:#323232;
    stroke-width: 5px;
}

.bluestroke{
    stroke: var(--standout-color) !important;
    stroke-width: 9px !important;
}