.waitlistinfowrapper {
    /* border: 1px solid red; */

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.waitlistinfocontainer {
    /* border: 1px solid red; */
    gap: 5rem;
}


.waitlistinfotitle{
    font-size: clamp(32px, 6vw, 46px);
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
}

.descriptioncontiner {
    /* border: 1px solid purple; */

    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 5rem;
    
}

.waitlistinfocontainer {
    /* border: 1px solid blue; */

    width: 100%;
    max-width: 1280px;
    min-height: 100vh;

    padding: 0px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.textcontainer {
    /* border: 1px solid red; */
    padding: 0px 16px;
}


@media only screen and (max-width: 768px) {
    /* .description{
        width: 80%;
    }

    .linesvg{
        display: none;
    } */

    .descriptioncontiner{
        padding-bottom: 5rem;
    }

}

/* @media only screen and (max-width: 425px) {
    .description {
        width: 100%;
    }

    .description:nth-child(odd) {
        align-self: initial;
    }
    
    .description:nth-child(even) {
        align-self: initial;
    }

} */