.waitlistsvg{
    transform-origin: center;
    transform: scale(1.3);
}

.line{
    stroke-width: 2px;
    fill: none
}

@keyframes linedraw {
    0% {stroke-dashoffset: 750;}
    100% {stroke-dashoffset: 0;}
}

.chip{
    /* stroke: var(--secondary-color-4); */
    stroke: #323232;
    
    fill: var(--primary-color);
    /* fill: #323232; */

    stroke-width: 2px;
    stroke-linecap: round;
    border-radius: 10px;

    stroke-dasharray: 750;
    stroke-dashoffset: 750;
}

.chipanimation{
    animation-name: linedraw;
    animation-duration: 1s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.motionchipgroup{
    transform-origin: 56% 40%;
    transform: scale(5);
}

.motionchipgroupanimation{
    animation-name: scaleicon;
    animation-delay: 0.8s;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


.motionicon{
    /* stroke: none;
    stroke: #323232; */
}
/* .motionchipgroupanimation .motionicon{
    stroke-dashoffset: 0;
} */

@keyframes scaleicon {
    0% {transform: scale(5)}
    100% {transform: scale(1);}
} 

@media only screen and (max-width: 1024px) {
    .waitlistsvg{
        transform: scale(1);
    }
}

@media only screen and (max-width: 762px) {
    .waitlistsvg{
        transform: scaleX(-1);
    }

    .motionicon{
        stroke: none;
        /* transform-origin: center; */
        transform-origin: 56% 40%;
        transform: scaleX(-1)
    }
}