.svgmain *{
    stroke-width: 5px;
    stroke: #323232;    
    fill: none;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw 3s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.topdot{
  stroke: #323232 !important;    
}

.svgmain circle{
    fill: var(--primary-color);
    stroke: var(--standout-color)
}

.dollarsign{
    stroke: var(--standout-color) !important;
}