.listitem {
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translateY(200%);
    opacity: 0%;
    transition: transform 600ms ease, opacity 600ms ease
}

.listitemshown{
    transform: translateY(0%);
    opacity: 100%;
}

.listcheck{
    /* border: 1px solid white; */

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--standout-color);

    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 40%, rgba(0,0,0,0) 40%);
}
