.buildingaccents{
    fill: none;
    stroke-width: 4px;
    transform-origin: center;
}

.freedomtower{
    stroke-dasharray: 1600;
    stroke-dashoffset: 1600;
}

.building{
    fill: none;
    stroke: #267e99;
    stroke-width: 4px;
    transform-origin: center;
    stroke-linecap: round;
}
