:root {
  --default-font: "Open Sans";

  /* --primary-color: #EDEDED;
  --primary-color-2: #BBBBBB;
  --primary-color-3: #888888;
  --primary-color-4: #898989;
  --secondary-color: #000000;
  --secondary-color-2: #090909; */

  --primary-color: #E0E0E0;
  --primary-color-2: #C0C0C0;
  --primary-color-3: #A0A0A0;
  --primary-color-4: #808080;
  --secondary-color: #000000;
  --secondary-color-2: #202020;
  --secondary-color-3: #404040;
  --secondary-color-4: #606060;

  /* --primary-color: #FFFFFF;
  --primary-color-2: #E0E0E0;
  --primary-color-3: #C0C0C0;
  --primary-color-4: #A0A0A0;
  --secondary-color: #000000;
  --secondary-color-2: #202020;
  --secondary-color-3: #404040;
  --secondary-color-4: #606060; */


  --standout-color: #1f7994;

  --third-color: rgb(38, 38, 38);
  /* --secondary-color: #232323; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000000;
    --primary-color-2: #404040;
    --primary-color-3: #606060;
    --primary-color-4: #808080;
    --secondary-color: #FFFFFF;
    --secondary-color-2: #E0E0E0;
    --secondary-color-3: #C0C0C0;
    --secondary-color-4: #A0A0A0;
    /* --primary-color: #000000;
    --primary-color-2: #090909;
    --primary-color-3: #1F1F1F;
    --primary-color-4: #454545;
    --secondary-color: #EDEDED;
    --secondary-color-2: #BBBBBB; */
  }

}

menu,
ol,
ul {
  list-style: none;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  min-height: 100%;
  position: relative;
}

body {
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}