:root {
  --default-font: "Open Sans";

  --primary-color: #000000;
  --primary-color-2: #404040;
  --primary-color-3: #606060;
  --primary-color-4: #808080;
  --secondary-color: #FFFFFF;
  --secondary-color-2: #E0E0E0;
  --secondary-color-3: #C0C0C0;
  --secondary-color-4: #A0A0A0;

  --standout-color: #1f7994;
  --standout-color-2: #2285a3;
  --standout-color-3: #2795b6;
  --standout-color-dark: #1a677e;

  --third-color: rgb(38, 38, 38);

  --light-1: rgb(255, 255, 255);

  --light-5: rgb(154, 154, 154);
}

menu,
ol,
ul {
  list-style: none;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red */
}

html,
body {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  width: 100%;
  min-height: 100%;
  position: relative;
}

body {
  background-color: #111111;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


footer{
  /* border: 1px solid red; */
  color: var(--secondary-color);
  width: 100%;
  /* min-height: 50vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}