.cls1{
    fill: var(--primary-color-2)
}

.cls2{
    fill: none;
    stroke: red;
    stroke-width: 5px;
    fill-rule: evenodd;
}

.path{
    fill: none;
    stroke-width: 20px;
    stroke-linecap: round;
    /* fill-rule: evenodd; */
}