.bigtop{
    fill: var(--secondary-color-2);
    stroke: var(--standout-color);
    stroke-width: 20px;
}

.smallcircle{
    fill: none;
    fill: var(--primary-color-2);
    stroke-width: 5px;
}

.svg * { 
    transform-box: fill-box;
}

.svg{
    transform-origin: center;
    /* transform: rotateX(60deg) rotate(180deg); */
    border: 1px solid red;
    width: 100%;
    overflow: visible;
    position: absolute;
}

.linebottom{
    transform-origin: 0% 100%;
    transform: rotate(0deg) rotateX(0deg)
}

.linetop{
    transform-origin: 100% 110px;
    transform: rotate(0deg) rotateX(0deg);
}
