.bigtop{
    fill: var(--secondary-color-2);
    stroke: var(--standout-color);
    stroke-width: 20px;
}

.smallcircle{
    fill: none;
    fill: var(--primary-color-2);
    stroke-width: 5px;
}

.svg * { 
    transform-box: fill-box;
}

.svg{
    transform-origin: center;
    transform: rotateX(60deg) rotate(180deg) translateY(100%);
    /* transform: translateY(100%); */
    /* border: 1px solid red; */
    width: 100%;
    overflow: visible;
    position: absolute;
    opacity: 0;
    /* transition: translateY 1s linear; */
}


/* .svgshown{
    transform: rotateX(60deg) rotate(180deg)
} */

.linebottom{
    transform-origin: 0% 100%;
    transform: rotate(0deg) rotateX(0deg)
}

.linetop{
    transform-origin: 100% 110px;
    transform: rotate(0deg) rotateX(0deg);
    stroke: var(--primary-color-4)
}

.linetop {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    /* transition: stroke-dashoffset 0.5s linear 0.2s; */
}

.linebottom {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    /* transition: stroke-dashoffset 0.2s linear; */
    stroke: var(--primary-color-4)
}
  
/* @keyframes dash {
    to {
        stroke-dashoffset: 0; 
    }
} */