.bigtop{
    fill: var(--secondary-color-2);
    /* stroke: var(--standout-color); */
    stroke: #2F528F;
    stroke-width: 19px;

    /* fill: none;
    stroke: white;
    stroke-width: 1px; */
}

.smallcircle{
    fill: none;
    fill: var(--primary-color-2);
    stroke-width: 5px;
}

.testwrapper{
    position: relative;
    /* transform: scale(0.6); */
}

.svg * { 
    transform-box: fill-box;
}

.svg{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    transform-origin: center;
    /* transform: rotateX(60deg) rotate(180deg) translateY(100%); */
    transform: rotateX(60deg) rotate(180deg);
    overflow: visible;
    position: relative;
    opacity: 100;
}

.cylinderbottomsvg{
    /* border: 1px solid green; */

    /* width: 100%;
    height: 100%; */
    transform-origin: center;
    /* transform: rotateX(60deg) rotate(180deg) translateY(100%); */
    transform: rotateX(60deg) rotate(180deg);
    position: absolute;
    bottom: -16%;
}

.cylinderbottom{
    fill: #006599;
    /* stroke: var(--standout-color); */
    stroke: #2F528F;
    stroke-width: 20px;

    /* fill: none;
    stroke: white;
    stroke-width: 1px; */

}

.cylinderfillsvg{
    position: absolute;
    bottom: -24%;
    /* border: 1px solid red; */
}   

.cylinderfill{
    fill: #006599;
    /* stroke: var(--standout-color); */

    stroke: #2F528F;
    stroke-width: 20px;

    /* stroke: white;
    stroke-width: 1px;
    fill: none; */

}

.svg g{
    border: 1px solid green;
    transform-box: fill-box;
    transform-origin: center;
    position: absolute;
    width: 50px;
    height: 50px;
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
}


/* .svgshown{
    transform: rotateX(60deg) rotate(180deg)
} */

.linebottom{
    transform-origin: 0% 100%;
    transform: rotate(0deg) rotateX(0deg)
}

.linetop{
    transform-origin: 100% 110px;
    transform: rotate(0deg) rotateX(0deg);
    stroke: var(--primary-color-4);
    stroke-width: 20px;
    /* stroke-linecap: round; */
}

.linetop {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    /* transition: stroke-dashoffset 0.5s linear 0.2s; */
}

.linebottom {
    /* stroke-linecap: round; */
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    /* transition: stroke-dashoffset 0.2s linear; */
    stroke: var(--primary-color-4);
    stroke-width: 10px;
}
  
/* @keyframes dash {
    to {
        stroke-dashoffset: 0; 
    }
} */