.firstpagewrapper{
    box-sizing: border-box;
    /* border: 1px solid blue; */
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    position: relative;
}

.textcontainer{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    /* padding-top: calc(83.5px + 40px); */
}

.herotextwrapper{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
    /* width: 2.5rem; */
    width: min-content;
    /* width: calc(36rem); */
    line-height: 1.6;
}

.herotitle{
    color: var(--standout-color);
    font-size: 3rem;
    font-weight: 700;
    /* display: flex;
    flex: 1 */
    width: 17.5em
}

.herotextwrapper p{
    /* border: 1px solid green */
    font-weight: 500;
    /* justify-self: center; */
}

.herotextwrapper > *{
    text-align: center;
}


.svgwrapper{
    /* border: 1px solid blue; */
    width: 80vw;
    /* height: fit-content; */
    aspect-ratio: 3 / 1;
    /* background-color: white; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    /* position: absolute;
    bottom: 0; */

    /* align-items: center; */

    /* justify-self: flex-end; */
    /* position: absolute;
    bottom: 0; */
}

@media only screen and (max-width: 900px) {
    .herotitle{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .herotitle{
        font-size: 2rem;
    }
    .heroparagraph{
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .herotextwrapper{
        width: unset;
        padding: 20px;
    }
    .herotitle{
        /* font-size: 5vmin */
        width: unset;
        line-height: 1em;
        padding-bottom: 1rem;
    }
    .heroparagraph{
        font-size: 16px;
    }
}