.cls1, .cls3 {
    /* fill: #fff; */
    fill: var(--primary-color);
}

.cls1, .cls2, .cls3, .cls4 {
    /* stroke: #000; */
    /* stroke: var(--third-color); */
    stroke: var(--primary-color-2);
    stroke-width: 3px;
    fill-rule: evenodd;
}

.cls2, .cls4 {
    fill: none;
}

.cls3, .cls4 {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svgmain{
    transform: scale(1.2);


    position: absolute;
    bottom: -5.5%;
    color: #2EB9DF;
    color: #1f7994;
}

/* @media (prefers-color-scheme: light) {
    .cls1, .cls2, .cls3, .cls4 {
        stroke: var(--primary-color-3);
    }
  
  } */


.test{
    transform-origin: 50% 100%;
    transform: scale(1.2) translateY(15px);
}

.test path{
    stroke: var(--primary-color-2);
    fill: none;
}

.teststroke path{
    fill: none;
    transform-origin: 50% 100%;
    transform: scale(1.2) translateY(15px);
    stroke-width: 4px;
}