.svgmain{
    transform: scale(1.2);


    position: absolute;
    bottom: -5.5%;
    color: #2EB9DF;
    color: #1f7994;
    /* border: 1px solid red; */
}

.citygroup{
    transform-origin: 50% 100%;
    transform: scale(1.2) translateY(17px);
}

.citygroup path{
    stroke: rgb(58, 58, 58) !important;
    stroke-width: 3px !important;
    fill: none !important;
}

.citygroup path{
    stroke: var(--primary-color-2);
    fill: none;
}

.strokegroup path{
    fill: none;
    transform-origin: 50% 100%;
    transform: scale(1.2) translateY(15px);
    stroke-width: 4px;
}