.fifthpagewrapper{
    /* border: 1px solid red; */

    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 40%, #181818 66%);
    border-top: 1px solid var(--primary-color-3);
    border-bottom: 1px solid var(--primary-color-3);
    /* padding-bottom: 5rem; */
    padding: 5rem 0;
}

.fifthpagecontainer{
    /* border: 1px dashed aqua; */

    width: 100%;
    max-width: 1280px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textwrapper{
    /* border: 1px solid green; */

    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.headingwrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textwrapper h1{
    color: var(--secondary-color);
    font-size: clamp(24px, 5vw, 36px);
    font-weight: 700;
    line-height: 1.15;
    height: auto;
}

.textwrapper h1~p{
    font-weight: 500;
    line-height: 1.6;
    color: var(--secondary-color-4);
    font-size: clamp(16px, 2vw, 20px);
    height: auto;
}

.listcontainer{
    /* border: 1px solid purple; */

    font-size: clamp(16px, 2vw, 20px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artwrapper{
    /* border: 1px dotted yellow; */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    max-height: 800px;
    position: relative;
}

.phonetextwrapper{
    /* border: 1px solid red; */
    bottom: 50px;
    position: absolute;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.phonetextitem{
    /* border: 1px solid green; */
    display: flex;
    gap: 0.5rem;
    opacity: 0%;
}

.phonetextshow{
    transition: opacity 1s ease;
    opacity: 100%;
}

.phonetextshow:nth-child(1) {
    transition-delay: 200ms;
}
.phonetextshow:nth-child(2) {
    transition-delay: 300ms;
}
.phonetextshow:nth-child(3) {
    transition-delay: 400ms;
} 
.phonetextshow:nth-child(4) {
    transition-delay: 500ms;
}
.phonetextshow:nth-child(5) {
    transition-delay: 600ms;
}

.phonetextcircle{
    /* border: 1px solid white; */
    aspect-ratio: 1 / 1;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phonesvg{
    height: 100%;
}

.phoneborder{
    fill: transparent;
    stroke: var(--primary-color);
    stroke-width: 3px;
    stroke-linecap: butt; 
    stroke-linejoin: miter; 
    stroke-dasharray: 2400;
    stroke-dashoffset: 2400;
    transform-origin: center;
    transform: scale(0.95);
}

.phonedraw{
    stroke: var(--standout-color);
    transition: stroke-dashoffset 3s ease;
    stroke-dashoffset: 0;
}

.phoneopen{
    stroke: var(--primary-color);
    fill: var(--primary-color-2);
    stroke-width: 15px;
    transform: scale(1);
    transition: stroke 1s ease, stroke-width 1s ease, fill 1s ease, transform 1s ease;
}

.buildingsgroup{
    transform-origin: 50% 0%; 
    opacity: 0;
    /* transform: scale(0.5); */
    transform: scale(0.55);
}

.showtower{
    transition: opacity 300ms ease;
    opacity: 100%;
}

@media only screen and (max-width: 768px) {
    .fifthpagewrapper{
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #121212 60%);
    }
    .fifthpagecontainer{
        flex-direction: column;
        gap: 1rem;
    }

    .textwrapper{
        width: 100%;
    }

    .artwrapper{
        height: auto;
        width: 100%;
    }
}