.colabwrapper{
    border: 1px solid red;
    /* width: 300px; */
    /* height: 50px; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 800px;
}

.toolbar{
    border: 1px solid blue;
    display: flex;
}

.colablist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 24px;
}

.datamodualwrapper{
    display: flex;
    flex-direction: column;
}

.datamodualmetric{
    align-items: flex-end;
}